<%= form_for(@bike, remote: true, format: :json, html: {class: :bike_form}) do |f| %>
  <div id="error_explanation" style='display:none;'>
    <ul>
      <% if @bike.errors.any? %>
        <% @bike.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
